{
  "users": [
    {
      "name": "${RABBITMQ_DEFAULT_USER}",
      "password_hash": "${RABBITMQ_PASSWORD_HASH}",
      "hashing_algorithm": "rabbit_password_hashing_sha256",
      "tags": ["administrator"]
    }
  ],
  "vhosts": [{ "name": "/" }],
  "permissions": [
    {
      "user": "${RABBITMQ_DEFAULT_USER}",
      "vhost": "/",
      "configure": ".*",
      "write": ".*",
      "read": ".*"
    }
  ],
  "queues": [
    {
      "name": "worker-tasks",
      "vhost": "/",
      "durable": true,
      "auto_delete": false,
      "arguments": {
        "x-dead-letter-exchange": "",
        "x-dead-letter-routing-key": "worker-tasks.failed"
      }
    },
    {
      "name": "worker-tasks.failed",
      "vhost": "/",
      "durable": true,
      "auto_delete": false,
      "arguments": {}
    },
    {
      "name": "worker-events",
      "vhost": "/",
      "durable": true,
      "auto_delete": false,
      "arguments": {}
    }
  ]
}
